/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

a:focus{outline:none;}

.clearfix{
    overflow: hidden;
    clear:both;
}
.clearfix:after, .clearfix:before{   
    content: ' ';
    display:block;
}

.text-center{text-align: center !important;}
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}

.cart-qty-links a{
    color:#666666;
    font-weight:normal;
    text-shadow:none;
    font-size:12px;
    margin:0 4px;
}

.plunk-bottles{margin-right:10px; margin-bottom: 10px; padding:10px;}
.plunk-bottles strong{
    display: block;
    margin-bottom: 10px;
}

.oj-progress-bar{margin:10px 10px 10px 0;}
.oj-progress-bar-value{background: #ff8282;}

.oj-dialog{border:1px solid black;}
.oj-dialog-header{background: #FFE24F;}
.oj-dialog-header-close-wrapper.oj-button.oj-hover .oj-button-button{
    border-color: #c4ced7;
    background-color: black;
}
.oj-dialog-header-close-wrapper.oj-button.oj-hover .oj-button-button .oj-button-icon{
    color:#fff;
}
.oj-dialog-footer{display:block;}


/* Main layout styles*/
.oj-web-applayout-header {
    background-color: #170627;
}
.oj-web-applayout-header h1{
    margin-top: 20px;
    line-height: normal;
    margin-bottom: 0;
}
.oj-web-applayout-header h1 a{
    color:#fff;
    text-decoration: none;
}
.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item:not(.oj-disabled) a.oj-navigationlist-item-content>.oj-navigationlist-item-label {
    color: #fff;
}

.oj-web-applayout-content {
    padding-bottom: 40px;
}
.oj-web-applayout-footer {
    position: fixed;
    background-color: #170627;
    color:#fff;
    bottom:0;
    width:100%;
    min-height: 30px;
    padding-top: 6px;
}