
<h1>Punk Beer</h1>


<!-- ko if: loaderFlag() -->
    <h5 class="italic text-center">Please wait... We are fetching beers for you! </h5>
    <oj-progress id="progressBar"  style="height: 6px;" value="{{progressValue}}"></oj-progress>
<!-- /ko -->

<!-- ko if: promiseFailed() -->
    <h2 class="italic text-center">Sorry!!</h2>
    <h5 class="italic text-center" id="promiseFailedText"></h5>
<!-- /ko -->

<!-- ko if: loaderFlag()!==true && promiseFailed()!==true -->

    <div class="oj-margin-vertical text-center oj-md-12 oj-sm-12">
        <input class="oj-padding oj-md-6 oj-sm-9" id="searchInput" data-bind="value:searchValue, valueUpdate: 'keyup'" placeholder="Search for beer..." />
    </div>
    <div class="clearfix oj-margin-vertical"></div>

    <div id="masonryLayout" class="oj-flex" data-bind="template: {name: 'beerTemplate', foreach:beers}"></div>

    <script type="text/html" id="beerTemplate">
        <!-- ko if: tagline !== 'OOPS' -->
            <a href data-bind="click: $parent.openBeerDetailView" class="oj-panel oj-flex-item plunk-bottles text-center">
                <strong class="clearfix" data-bind="text: name"></strong>
                <img data-bind="attr: {src: image_url, alt: name}" width="100" class="img" />
            </a>
        <!-- /ko -->
        
        <!-- ko if: tagline === 'OOPS' -->
            <div class="oj-panel oj-flex-item plunk-bottles text-center">
                <h3 class="oj-margin"><em data-bind="text: name + ' ' + description"></em></h3>
                <img data-bind="attr: {src: image_url, alt: name}" width="100%" class="img" />
            </div>
        <!-- /ko -->
    </script>
    
    <div id="dialogWrapper">
        <oj-dialog initial-visibility="hide" style="width: 50vw; height: 75vh;" id="punkDetailDialog" 
                   title="" modality="modal" cancel-behaviour="icon" resize-behavior="none">
            <span slot="header" data-bind="text: beerDetails().name + ' - ' + beerDetails().tagline"></span>
            <div slot="body">
                <div class="oj-flex">
                    <div class="oj-flex-item oj-md-9">
                        <div class="oj-flexn oj-margin-vertical">
                            <div class="oj-flex-item"><span class="oj-flex-item" data-bind="text: beerDetails().description"></span></div>
                        </div>
                        
                        <div class="oj-flex oj-margin-bottom">
                            <div class="oj-flex-item"><strong>First Brewed:</strong> <span class="oj-flex-item" data-bind="text: beerDetails().first_brewed"></span></div>
                        </div>
                        <div class="oj-flex oj-margin-bottom">
                            <div class="oj-flex-item"><strong>Attenuation Level:</strong> <span class="oj-flex-item" data-bind="text: beerDetails().attenuation_level"></span></div>
                        </div>
                        <div class="oj-flex oj-margin-bottom">
                            <div class="oj-flex-item"><strong>EBC</strong> <span class="oj-flex-item" data-bind="text: beerDetails().ebc"></span></div>
                        </div>
                        <div class="oj-flex oj-margin-bottom">
                            <div class="oj-flex-item"><strong>pH:</strong> <span class="oj-flex-item" data-bind="text: beerDetails().ph"></span></div>
                        </div>
                        <div class="oj-flex oj-margin-bottom">
                            <div class="oj-flex-item"><strong>SRM:</strong> <span class="oj-flex-item" data-bind="text: beerDetails().srm"></span></div>
                        </div>
                        <div class="oj-flex oj-margin-bottom">
                            <div class="oj-flex-item"><strong>Volume:</strong>                                 
                                <!-- ko with: beerDetails().volume -->
                                    <span class="oj-flex-item" data-bind="text: value +' '+unit"></span>
                                <!-- /ko -->                                
                            </div>
                        </div>
                        <div class="oj-flex oj-margin-bottom">
                            <div class="oj-flex-item"><strong>Food Pairing:</strong> 
                                <!-- ko foreach: beerDetails().food_pairing -->
                                    <span class="oj-flex-item" data-bind="text: $data"></span>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="oj-flex oj-margin-bottom">
                            <div class="oj-flex-item"><strong>Brewers Tips:</strong> <span class="oj-flex-item" data-bind="text: beerDetails().brewers_tips"></span></div>
                        </div>
                        <div class="oj-flex">
                            <div class="oj-flex-item"><strong>Contributed By:</strong> <span class="oj-flex-item" data-bind="text: beerDetails().contributed_by"></span></div>
                        </div>                        
                    </div>
                    <div class="oj-flex-item oj-md-3 text-center">
                        <img data-bind="attr: {src: beerDetails().image_url}" height="200vh" />
                    </div>
                </div>
            </div>

            <div slot="footer" class="text-center oj-dialog-footer">
                <oj-button class="oj-button-primary" id="okButton" data-bind="click: handleOKClose"> 
                    OK
                </oj-button>
            </div>
        </oj-dialog>
    </div>
<!-- /ko -->


